{% extends "aplicacion/base.html" %}

{% block titulo %}
    Quien Soy?
{% endblock titulo %}


{% block contenido %}
<div class= "subtitulo acerca_de_mi">
    <h3 class="text-center py-5 fw-bold">Mi nombre es Valentin Maneiro y estoy cursando la licenciatura en informatica en la Universidad Nacional de Quilmes
        Siempre fui un gran apasionado sobre la tecnologia y mi vision a futuro es focalizarme en cuanto a la ciencia de datos y ciberseguridad, pero sin dejar de lado otras ramas.
        <br>Espero que hayan podido disfrutar del blog</h3>
        <img src="../static/aplicacion/assets/img/mdp.jpg" class="w-49">
    <p class="text-center fw-bold pt-5">
        Gracias por utilizar E-Futbol
    </p>
</div>
{% endblock contenido %}s