{% extends 'aplicacion/base.html' %} 
{% load static %} 
{% block titulo %}Entrenadores{% endblock titulo %} 

{% block contenido %}
    
    <form action="" method="POST" class="form-eliminacion">
        {% csrf_token %}
        <div class="eliminar">
            <div class="eliminar-text">
                <h2>¿ Esta seguro de eliminar el entrenador ? </h2>
                <p style="color:red">{{ object.nombreCompleto }}</p>
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Confirmar">
        </div>
    </form>
{% endblock contenido %}