{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
    Mercado Mundial del Futbol
{% endblock titulo %}


{% block contenido %}
    <div class="w-100 d-flex flex-column justify-content-center align-items-center subtitulo">
        <h2 class="text-center py-5 fw-bold">Disponibilidad de Jugadores, Entrenadores, Equipos y Representantes</h2>
        <img src="../static/aplicacion/assets/img/mdp.jpg" class="w-49">
        <p class="text-center fw-bold pt-5">
            Aqui podras revisar la situacion del mercado mundial de nuestro deporte!!
        </p>
    </div>
{% endblock contenido %}